@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
  font-size: 16px;
  max-width: 100%;
}
@media (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

.header-elements {
  padding: 2rem;
  background-color: #011827;
  position: relative;
}

.header {
  margin: 0;
  column-gap: 12px;
  background-color: #021928;
  color: white;
  display: flex;
}
.header img {
  width: 170px;
  height: 114px;
  background-position: center;
}
.header .company-name {
  background-image: url(/9096b17d9b644c0fb4a4ddeb82daf9e66c5240c5.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding-left: 6em;
  width: 6em;
}
@media (min-width: 840px) {
  .header .company-name {
    font-size: 42px;
    padding-left: 5em;
    padding-top: 4rem;
    width: auto;
  }
}

.navigation-bar {
  display: none;
}



@media (min-width: 840px) {
  .navigation-bar {
    display: block;
    background-color: #021928;
  }
  .navigation-menu {
display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 3rem 0 0;
    padding: 0;
  }

  .navigation-menu li {
    list-style-type: none;
    padding: 0 1rem;
  }
  .navigation-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
.button.primary {
  background-color: #8ACFE5;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  border: transparent;
  font-weight: bold;
  font-size: 1.6rem;
}

.button.secondary {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  border: transparent;
  font-weight: bold;
}

@media (min-width: 840px) {
  .button.primary {
    font-size: 24px;
    color: black;
    background-color: #8ACFE5;
    padding: 10px 20px;
    width: 308px;
    height: 66px;
    border-radius: 6px;
    font-family: "Roboto";
    text-decoration: none;
    border: transparent;
    font-weight: bold;
  }
  .button.secondary {
    font-size: 24px;
    color: white;
    background-color: #E3170A;
    padding: 10px 20px;
    width: 308px;
    height: 66px;
    border-radius: 6px;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: bold;
  }
}
.main-image-and-buttons-section img {
  width: 100%;
  object-fit: cover;
  max-height: 50vh;
}
.main-image-and-buttons-section .button-challenges {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 3rem;
    margin-top: 1rem;
}
@media (min-width: 840px) {
  .main-image-and-buttons-section .button-challenges {
    top: -40px;
    display: flex;
    margin: 0;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 16px;
  }
}

.reviews-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 840px) {
  .reviews-list {
    flex-direction: row;
  }
}
.review-item {
  display: none;
  margin: 0;
}
.review-item:first-of-type {
  display: block;
}
@media screen and (min-width: 840px) {
  .review-item {
    display: block;
  }
}

.review-image {
  border-radius: 50%;
}

.review-figure {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5rem 2fr;
  grid-template-rows: auto auto;
  max-width: 40rem;
}
.review-quote {
  font-size: 1.8rem;
  font-style: italic;
  margin: 0;
}
.reviewer {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.2rem;
}
.popular-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-challenges .popular-challenges-title {
  font-size: 2rem;
  font-weight: normal;
}

.popular-challenges-card-list {
  padding: 0 1rem;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  list-style-type: none;
}

.popular-challenges .popular-challenges-card .popular-challenges-card-list {
  list-style-type: none;
}

.challenge {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 26rem;
  min-width: 24rem;
  overflow: hidden;
}

.challenge-name {
  font-weight: normal;
  font-size: 1.8rem;
  margin: 1rem 1rem 0.5rem;
  width: 100%;
}

.challenge-review-participants {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
}

.review {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.review-star-filled {
background-image: url(/star-full.png);
    list-style-type: none;
  width: 1rem;
  height: 1rem;
    background-size: cover;

}


.popular-challenges .popular-challenges-card .popular-challenges-card-list .popular-challenges-card-list-item .challenge .challenge-name .challenge-review-participants .review .review-star {
background-image: url(/star-empty.png);
}

.review-star {
    list-style-type: none;
  width: 1rem;
  height: 1rem;
  background-image: url(/star-empty.png);
  background-size: cover;
}

.participants {
  font-size: 1rem;
}

.challenge-info {
    font-size: 1.1rem;
  margin: 1rem 1rem;
}

.challenge-button {
  background-color: #E3170A;
  border-radius: 0.4rem;
  border-width: 0;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8em 2.4em;
  text-decoration: none;
  align-self: flex-end;
  font-size: 1.2rem;
  margin: 0 1rem 1rem;
}


.popular-challenges .challenges .challenge {
  flex: 33%;
  height: 340px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 5px;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}
.popular-challenges .challenges .challenge .challenge-image {
  height: 50%;
  background-image: url("0f85bcb7b31d0d0ae702ebc565f4c0483e706cf4.png");
  background-size: cover;
}
.popular-challenges .challenges .challenge .challenge-content {
  height: 50%;
  font-size: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.popular-challenges .challenges .challenge .challenge-content .challenge-name {
  font-weight: normal;
  font-size: 1.8rem;
  margin: 1rem 1rem 0.5rem;
  width: 100%;
}
.popular-challenges .challenges .challenge .challenge-content .challenge-review-participants {
  display: flex;
  justify-content: space-between;
}
.popular-challenges .challenges .challenge .challenge-content .challenge-info {
  padding: 8px 0;
}
.popular-challenges .challenges .challenge .challenge-content .book-challenge {
  display: flex;
}
.popular-challenges .challenges .challenge .challenge-content .book-challenge .button {
  background: #E3170A;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  font-style: bold;
  border: transparent;
  border-radius: 4px;
}

.button-challenges {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.button-challenges {
  flex-direction: column-reverse;
}

.button-challenges .button-onsite {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  border: transparent;
}
.button-challenges .button-online {
  background-color: #8ACFE5;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  border: transparent;
  font-weight: bold;
}

@media (min-width: 840px) {
  .button-challenges {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .button-challenges .button-onsite {
    font-size: 24px;
    color: white;
    background-color: #E3170A;
    padding: 10px 20px;
    width: 308px;
    height: 66px;
    border-radius: 6px;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: bold;
  }
  .button-challenges .button-online {
    font-size: 24px;
    color: black;
    background-color: #8ACFE5;
    padding: 10px 20px;
    width: 308px;
    height: 66px;
    border-radius: 6px;
    font-family: "Roboto";
    text-decoration: none;
    border: transparent;
    font-weight: bold;
  }
}
.story {
align-items: center;
  background-color: #011827;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 8rem 3rem;
}
.story-text {
  text-align: center;
  font-size: 1.8rem;
  max-width: 40rem;
  margin: 0;

}
.story .button-story {
background-color: transparent;
  border-radius: 0.4rem;
  border-width: 0;
  color: #8ACFE5;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8em 2.4em;
  text-decoration: none;
  border: 2px solid #8ACFE5;
}

.booking {
  display: flex;
  flex-direction: column;
}
.booking .booking-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.booking .booking-info .booking-title {
  font-size: 1.9rem;
  margin: 1.5rem 1rem;
}
.booking .booking-info .booking-content {
font-size: 1.3rem;
  margin: 1rem 1rem;
}
.booking .booking-info .button {
display: block;
  background-color: #E3170A;
  border-radius: 0.4rem;
  border-width: 0;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8em 2.4em;
  text-decoration: none;
  margin: 2rem 1rem 4rem;
}

@media (min-width: 1024px) {
  .booking {
    flex-direction: row;
  }
  .booking .booking-info {
    flex: 40%;
    padding: 5%;
  }
  .booking .booking-image {
    width: 50%;
    object-fit: cover;
  }
  .booking:last-child {
    flex-direction: row-reverse;
  }
}

.footer {
  background-color: #011827;
  color: white;
  padding: 3rem 2rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 840px) {
  .footer {
    display: flex;
    gap: 2rem;
    padding: 3rem 7rem;
    justify-content: space-between;
  }
}


.footer-about-title {
  margin: 0.5rem 0;
}
.footer-about-text {
  margin: 0;
  max-width: 40rem;
}
.footer .about {
  margin: 0 0 3rem 0;
  min-width: 10rem;
}


.footer .sitemap, .footer .follow-us {
  list-style-type: none;
  padding: 0;
  margin: 0 0 3rem 0;
  min-width: 10rem;
}

.sitemap-item h4 {
  margin: 0.5rem 0;
}

.follow-us {
  margin: 0 0 3rem o;
  min-width: 10rem;

}

.follow-us-header {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
